[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RCMinification"]
	path = RCMinification
	url = https://github.com/cran/RCMinification
